 <%= render "./components/navbar" %>
 <%= render "./components/banner" %>


<div class="container">
  <h2><% @cocktails.each do |c| %>
    <%= link_to c.name, cocktail_path(c) %> <br>
  <% end %></h2>

  <%= link_to "Add a New Cocktail", new_cocktail_path, class: "btn btn-success" %>

</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category"><%= link_to c.name, cocktail_path(c) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
